/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";

//Define a custom less file to override any variables defined in scaffolding.less
@import "custom-overrides.less";

@import "node_modules/material-ui/src/less/components.less";

//Your custom app styles
.home-page {
  padding: 1em;
}

.mui-app-bar {
  .mui-icon-button:not(.mui-app-bar-navigation-icon-button) {
    float: right;
  }
  .action-icons {
    margin-right: -16px;
  }
}
